.texto {
    position: absolute;
    font-size: 26px;
    left: 686px;
    top: 46px;
    right: 80px;
}

.contenedor {
    position: relative;
}

.mapa-img {
    position: absolute;
    left: 43px;
    top: 46px;
}

#map {
    width: 600px;
    height: 425px;
    position: absolute;
}

.boton {
    position: absolute;
    left: 686px;
    top: 256px;
    right: 60px;
}


/*
estas ultimas no se si están bien, no se como hacer que el flask me pesque la carpeta de staticcccccccc
    edit: ya lo arreglé, saludos 
*/
.abt-pag {
    position: relative;
    width: 600px;
    left: 43px;
    top: 46px;
}

.abt-txt {
    position: absolute;
    font-size: 32px;
    top: 56px;
}

.abt-title {
    position: absolute;
}

.micro-img {
    position: relative;
    top: 56px;
    left: 700px;
}

.busqueda {
    position: absolute;
    top: 516px;
    left: 43px;
}

input {
    height: 45px;
    width: 592px;
    border-radius: 30px;
    font-size: 14px;
    padding: 0 22px;
    border: 2px solid #adadad;
}

.navbar-brand {
    font-family: Helvetica;
}

.nav-link {
    font-family: 'Franklin Gothic Medium';
}

.pie {
    position: relative;
    top: 839px;
    bottom: 0px;
    font-size: 12px;
}

.contenedor-pie {
    height: 30px;
}

.foot-link {
    background-color: #7a1d1a;
    padding: 5px 10px;
    border-radius: 10px;
    bottom: 50%;
}

.TyS {
    position: relative;
    left: 53px;
    right: 53px;
    height: 0;
    width: calc(100% - 86px);
    top: 46px;
    bottom: 0%;
    font-size: 18px;
}