{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" type="text/css" href="estatua/main.css">
</head>

<body>
    <div class="abt-pag">
        <p class="abt-txt">Aquí mostraremos información sobre el equipo de desarrollo y el porqué de la creación de esta web.</p>
    </div>

</body>

</html>

{% endblock %}