{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="estatua/main.css">
</head>

<body>
    <div class="contenedor">
        <div class="imagen">
            <img class="mapa-img"
                src="https://cdn.discordapp.com/attachments/356919652330373122/1116550542240526367/image.png" alt=""
                float: left>
            <p class="texto">Esta es una página web para ayudar tanto al publico nuevo como antiguo con los recorridos
                de la ciudad de Osorno, mostrando las rutas de los microbuses y paraderos, así ayudando al
                usuario a encontrar la manera más óptima de llegar a su destino</p>
            <div class="boton">
                <a class="btn btn-danger" href="/about" role="button">Saber más</a>
            </div>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="  Buscar">
            <div class="btn">
                <i class="fa fa-search"></i>

            </div>
            
        </div>
    </div>
    

</body>

</html>

{% endblock %}