{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué es RuTu?</title>
    <link rel="stylesheet" type="text/css" href="estatua/main.css">
</head>

<body>
    <div class="abt-pag">
        <h1 class="abt-title">¿Qué es RuTu?</h1>
        <p class="abt-txt"> RuTu es una aplicación web con el deseo de facilitar la movilidad de las personas en el transporte público (microbús), facilitando a las personas llegar a su destino con el microbús mas cercano a ellos y a su ruta.</p>
        
    </div>
    <div><a class="micro-img" ><img src="/estatua/vaca_2_29.jpg" alt="micro" style="width: 550px;"></a></div>
    
</body>

</html>

{% endblock %}