{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" type="text/css" href="estatua/main.css">
</head>

<body>
    <div class="abt-pag">
        <h1 class="abt-title">Acerca de nosotros</h1>
        <p class="abt-txt">Nosotros somos un pequeño grupo de estudiantes de la universidad de los lagos, creamos RuTu inicialmente para los nuevos estudiantes, pero con el tiempo nos enfocamos en los ciudadanos de osorno y los turistas. </p>
    </div>
    <div><a class="quien-img"></a></div>

</body>

</html>

{% endblock %}