{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y servicios</title>
    <link rel="stylesheet" type="text/css" href="estatua/main.css">
</head>

<body>
    <div class="TyS">
        <h1 style="text-align: center;">Términos y servicios</h1>
        <p><br>
            1.-Condiciones de acceso
            Es de cargo del usuario obtener el acceso a la red internet, así como obtener e implementar los
            equipos (hardware), programas (software) u otros elementos y/o instrumentos de comunicación
            que le permitan el acceso a la red; de tal manera que el usuario debe proveerse todo lo necesario
            para el adecuado uso de la página web. <br>
            La utilización de la pagina esta limitada estrictamente para uso personal mediante un teléfono
            celular, u otro dispositivo móvil o computador personal, en caso de habilitarse los servicios para
            ellos en el futuro. El usuario no podrá copiar, modificar, adaptar, vender, licenciar, distribuir,
            compartir, descompilar, falsificar, descifrar o alterar la aplicación ni su diseño.
        </p>
        <p>
            2.-servicios
            El usuario acepta nuestros servicios de guía de transporte publico (microbús) de manera
            responsable y acepta darnos su ubicación en tiempo real para hacer uso de la página web.
        </p>
        <p>
            3.-politica de privacidad y confidencialidad
            Cualquier información ingresada en la pagina web que pudiera ser considerada como datos
            personales no será revelada o compartida con terceros para mayor seguridad para el usuario, en
            virtud de lo anterior, la información aportada por los usuarios en la forma y con las restricciones
            previstas por la ley N°19.628, sobre la protección de datos de carácter personal.
        </p>
        <p>
            4.-propiedad intelectual
            Los desarrolladores individualizados en Google, Firefox, Microsoft Edge, opera y opera GX, es el
            titular exclusivo sobre la pagina o sistema licenciado y tiene los derechos de la propiedad
            intelectual sobre la pagina de acuerdo con la legislación vigente, lo que el usuario declara conocer
            y aceptar. En términos y con lo establecido en la ley N°17.336. El usuario que no diere
            cumplimiento a lo señalado procedentemente será responsable de todo perjuicio que se ocasione
            en caso de incumplimiento de las obligaciones señaladas.
        </p>
        <p>
            5.-modo de uso
            El uso de servicios ofrecidos en o a través de la página web es de exclusiva responsabilidad del
            usuario, el usuario es responsable de toda la información, documentos, contenido u otros que
            reporte, publique, transmita o retransmita, por cualquier medio.
            El uso de la pagina esta condicionado a que el usuario los utilice de acuerdo con la moral, las
            buenas costumbres, el orden público y la legislación vigente; y para acceder a ellos deberá
            emplear los procedimientos establecidos o, en su defecto, los que generalmente se emplean en
            internet, pero, en caso de alguno, podrá poner en riesgo la página, los servicios y/o contenidos de
            esta.
        </p>
    </div>
</body>

</html>

{% endblock %}